body {
    background-color: red;
}

.cuadroamarillo {
    width: 140px;
    height: 150px;
    background-color: yellow;
    margin: 20px;
}

.cuadroazul {
    width: 140px;
    height: 115px;
    background-color: blue;
    
}

.cuadroverde {
    width: 90%;
    height: 50px;
    background-color: green;
    margin: auto;
}
